  <div class="complexRating" ng-repeat='apt in complexes'>
    {{apt.name}}
    <img src="{{apt.image}}" alt='none' style="background-image:url('../img/up.jpg')"width="150px"height="150px">
  </div>

<!-- ('Liberty Square' , '../img/liberty-square.jpg')
('The Village' , '../img/the-village.jpg')
('Alpine Village' , '../img/alpine-village.jpg')
('Arcadia' , '../img/arcadia.jpg')
('Bay Terrace' , '../img/bay-terrace.jpg')
('Brookview' , '../img/brookview.jpg')
('Centennial' , '../img/centennial.jpg')
('Centennial II' , '../img/centennial2.jpg')
('Cornerstone' , '../img/cornerstone.jpg')
('The Isles' , '../img/the-isles.jpg')
('The Brittany' , '../img/the-brittany.jpg')
('The Omni' , '../img/the-omni.jpg')
('Riviera' , '../img/riviera.jpg')
('Roman Gardens' , '../img/roman-gardens.jpg')
('Southridge' , '../img/southridge.jpg')
('Park Place' , '../img/park-place.jpg')
('Glenwood' , '../img/glenwood.jpg')
('Raintree' , '../img/raintree.jpg')
('Carriage Cove' , '../img/carriage-cove.jpg')
('Woodland Heights' , '../img/woodland-heights.jpg')
('Pacific Heights' , '../img/pacific-heights.jpg')
('University Villa' , '../img/university-villa.jpg')
('Sparks Apartments' , '../img/sparks-apartments.jpg')
('Cinnamon Tree' , '../img/cinnamon-tree.jpg')
('The Colony' , '../img/the-colony.jpg')
('Crestwood' , '../img/crestwood.jpg')
('Fleur De Lis' , '../img/fleur-de-lis.jpg')
('College Park' , '../img/college-park.jpg')
('Pioneer Apartments' , '../img/pioneer-apartments.jpg')
('Riverstone' , '../img/riverstone.jpg')
('Foxwood Apartments' , '../img/foxwood-apartments.jpg')
('Foxwood Condos' , '../img/foxwood-condos.jpg')
('Manavu' , '../img/manavu.jpg')
('Belmont' , '../img/belmont.jpg')
('Bendick Arms' , '../img/bendick-arms.jpg')
('Brownstone' , '../img/brownstone.jpg')
('Chatham Towne' , '../img/chatham-towne.jpg')
('Chatsworth' , '../img/chatsworth.jpg')
('Chelsea' , '../img/chelsea.jpg')
('Millrace' , '../img/millrace.jpg')
('Mountainwood' , '../img/mountainwood.jpg')
('Old Mill' , '../img/old-mill.jpg')
('Pines' , '../img/pines.jpg')
('Promenade' , '../img/promenade.jpg')
('Reynolds' , '../img/reynolds.jpg')
('Riverside' , '../img/riverside.jpg')
('Sherwood' , '../img/sherwood.jpg')
('Sierra' , '../img/sierra.jpg')
('Stonebridge' , '../img/stonebridge.jpg')
('Township' , '../img/township.jpg')
('University Avenue Condos' , '../img/university-avenue-condos.jpg')
('Windsor Park' , '../img/windsor-park.jpg')
('Winter Quarters' , '../img/winter-quarters.jpg')
('Aspen Ridge' , '../img/aspen-ridge.jpg') -->
