  <div class="complexRating" ng-repeat='apt in complexes'>
    {{apt.name}}
    <img src="{{apt.image}}" alt='none' style="background-image:url('../img/up.jpg')"width="150px"height="150px">
  </div>

<!--
('Chatham Towne' , '../img/chatham-towne.jpg')
('Chatsworth' , '../img/chatsworth.jpg')
('Chelsea' , '../img/chelsea.jpg')
('Millrace' , '../img/millrace.jpg')
('Mountainwood' , '../img/mountainwood.jpg')
('Old Mill' , '../img/old-mill.jpg')
('Pines' , '../img/pines.jpg')
('Promenade' , '../img/promenade.jpg')
('Reynolds' , '../img/reynolds.jpg')
('Riverside' , '../img/riverside.jpg')
('Sherwood' , '../img/sherwood.jpg')
('Sierra' , '../img/sierra.jpg')
('Stonebridge' , '../img/stonebridge.jpg')
('Township' , '../img/township.jpg')
('University Avenue Condos' , '../img/university-avenue-condos.jpg')
('Windsor Park' , '../img/windsor-park.jpg')
('Winter Quarters' , '../img/winter-quarters.jpg')
('Aspen Ridge' , '../img/aspen-ridge.jpg') -->
