<filters-menu></filters-menu>
<header>
  <div class="headerTitle">Crowd Control</div>
  <button class="footerLogin headerButton" ng-click='loginShow()'>Login</button>
  <button class='headerButton' type="button" name="button" ui-sref='/'>About</button>
  <!-- <button type="button" name="button" ui-sref='ratings'>Ratings</button> -->
  <button type="button" name="button" class="addApt headerButton" ng-click='loginCheck()'> Add Apartment</button>
  <img src="./img/hamburger.jpg" alt="Menu" class='hamburgerMenu' ng-click='showFilters()'>
</header>
<left-bar></left-bar>
<main>
<new-apt></new-apt>
</main>
