<div class="ratings">
  <div class="complexRating" ng-repeat='apt in complexes'>
    <img class="pic" ng-src="{{apt.image}}" style="background-image:url('../img/up.jpg')"width="200px"height="200px"> <br>
    {{apt.name}}
  </div>
</div>
<!-- ('Alpine Village', '1378 Freedom Blvd 200 W, Provo, UT 84604','../img/alpine-village.jpg')
('College Park' , '627 100 W, Provo, UT 84601' , '../img/college-park.jpg')
('Park Place' , '460 E 700 N, Provo, UT 84606' , '../img/park-place.jpg')
('The Brittany' , '243 E 500 N, Provo, UT 84606' , '../img/the-brittany.jpg')
('Arcadia' , '1065 E 450 N, Provo, UT 84606' , '../img/arcadia.jpg')
('Pines' , '577 N 100 W Provo, UT 84601' , '../img/pines.jpg')
('The Colony' , '401 North 750 East, Provo UT 84606' , '../img/the-colony.jpg')
('Aspen Ridge' , '334 Center St, Provo, UT 84606' , '../img/aspen-ridge.jpg')
('Cornerstone' , '750 N 787 E Provo, UT 84606 ' , '../img/cornerstone.jpg')
('Pioneer Apartments' , '80 West 880 North Provo, UT 84604' , '../img/pioneer-apartments.jpg')
('The Isles' , '727 N 300 E, Provo, UT 84606' , '../img/the-isles.jpg')
('Bay Terrace' , '400 N, Provo, UT 84606' , '../img/bay-terrace.jpg')
('Crestwood' , '1800 N State St, Provo, UT 84604' , '../img/crestwood.jpg')
('Promenade' , '888 East 820 North, Provo, UT' , '../img/promenade.jpg')
('The Omni' , '701 N 500 W, Provo, UT 84601' , '../img/the-omni.jpg')
('Belmont' , '195 E 600 N St #22, Provo, UT 84606' , '../img/belmont.jpg')
('Fleur De Lis' , '275 N 300 E, Provo, UT 84606' , '../img/fleur-de-lis.jpg')
('Raintree' , '1849 Freedom Blvd 200 W, Provo, UT 84604' , '../img/raintree.jpg')
('The Village' , '602 E 600 N St, Provo, UT 84606' , '../img/the-village.jpg')
('Bendick Arms' , '161 East 700 North #11 Provo, UT' , '../img/bendick-arms.jpg')
('Foxwood Apartments' , '830 North 100 West
Provo, UT 84601' , '../img/foxwood-apartments.jpg')
('Reynolds' , '466 N 400 E, Provo, UT 84606' , '../img/reynolds.jpg')
('Township' , 'N 200 E, Provo, UT 84606' , '../img/township.jpg')
('Brookview' , '442 N 400 E, Provo, UT 84606' , '../img/brookview.jpg')
('Foxwood Condos' , '60 W 800 N, Provo, UT 84601' , '../img/foxwood-condos.jpg')
('Riverside' , '1559 North Riverside Ave. Provo, UT 84604' , '../img/riverside.jpg')
('University Avenue Condos' , '539 N University Ave., Provo, UT' , '../img/university-avenue-condos.jpg')
('Brownstone' , '1080 E 450 N, Provo, UT 84606' , '../img/brownstone.jpg')
('Glenwood' , '1565 N University Ave, Provo, UT 84604' , '../img/glenwood.jpg')
('Riverstone' , '1269 RIVERSIDE AVE, PROVO, UT 84604' , '../img/riverstone.jpg')
('University Villa' , '865 North 160 West Provo, UT 84604' , '../img/university-villa.jpg')
('Carriage Cove' , '606 W 1720 N, Provo, UT 84604' , '../img/carriage-cove.jpg')
('Riviera' , '1505 N Canyon Rd, Provo, UT 84604' , '../img/riviera.jpg')
('King Henry' , '1130 E 450 N, Provo, UT 84606' , '../img/king-henry.jpg')
('Roman Gardens' , '1060 E 450 N, Provo, UT 84606' , '../img/roman-gardens.jpg')
('Centennial' , '380 N 1020 E St, Provo, UT 84606' , '../img/centennial.jpg')
('Liberty Square' , '556 N 400 E, Provo, UT 84606' , '../img/liberty-square.jpg')
('Windsor' , '104 W 1230 N, Provo, UT 84604' , '../img/windsor-park.jpg')
('Centennial II' , '1000 East 450 North, Provo, UT 84606' , '../img/centennial2.jpg')
('Manavu' , '384 E 600 N St, Provo, UT 84606' , '../img/manavu.jpg')
('Sierra' , '111 S 1000 E St #1, Provo, UT 84606' , '../img/sierra.jpg')
('Winter Quarters' , '783 North 200 East Provo, UT' , '../img/winter-quarters.jpg')
('Chatham Towne' , '972 900 E, Provo, UT 84604' , '../img/chatham-towne.jpg')
('Millrace' , '225 West 2230 North Provo, UT 84604' , '../img/millrace.jpg')
('Southridge' , '665 N 500 E, Provo, UT 84606' , '../img/southridge.jpg')
('Woodland Heights' , '36 W 880 N St, Provo, UT 84604' , '../img/woodland-heights.jpg')
('Chatsworth' , '681 North 100 East, Provo, UT 84606' , '../img/chatsworth.jpg')
('Mountainwood' , '56 West, W 700 N, Provo, UT 84601' , '../img/mountainwood.jpg')
('Sparks apartments' , '999 E 450 N, Provo, UT 84606' , '../img/sparks-apartments.jpg')
('Chelsea' , '611 700 East-, Provo, UT 84606' , '../img/chelsea.jpg')
('Old Mill' , '724 W 1720 N, Provo, UT 84604' , '../img/old-mill.JPG')
('Stonebridge' , '151 E 300 N Provo, UT 84606' , '../img/stonebridge.jpg')
('Cinnamon Tree' , '1285 N Freedom Blvd, Provo, UT 84604' , '../img/cinnamon-tree.JPG')
('Pacific Heights' , '737 N 900 E, Provo, UT 84606' , '../img/pacific-heights.jpg') -->
