@import "header";
@import "main";
@import 'login';
@import "addApt";
@import "footer";
@import "ratings";
@import "email";

body {
  box-sizing: border-box;
  margin: auto;
}
#animate-area {
	background-image: url(./img/cloudsBack.png);
	background-position: 0px 0px;
	background-repeat: repeat;
  background-size: 120vw;
}
