<div class="aptForm">
  <form class="fillForm">
    {{loggedInName}}
    <div class="close">X</div>
    <input type="text" class='submitComplex' list='Complexes'placeholder='Apartment Complex' value="Complex" ng-model='complexName'>
    <datalist id="Complexes">
      <option value="King Henry">
      <option value="Liberty Square">
      <option value="The Village">
      <option value="Alpine Village">
      <option value="Arcadia">
      <option value="Bay Terrace">
      <option value="Brookview">
      <option value="Centennial">
      <option value="Centennial II">
      <option value="Cornerstone">
      <option value="The Isles">
      <option value="The Brittany">
      <option value="The Omni">
      <option value="Riviera">
      <option value="Roman Gardens">
      <option value="Southridge">
      <option value="Park Place">
      <option value="Glenwood">
      <option value="Raintree">
      <option value="Carriage Cove">
      <option value="Woodland Heights">
      <option value="Pacific Heights">
      <option value="University Villa">
      <option value="Sparks Apartments">
      <option value="Cinnamon Tree">
      <option value="The Colony">
      <option value="Crestwood">
      <option value="Fleur De Lis">
      <option value="College Park">
      <option value="Pioneer Apartments">
      <option value="Riverstone">
      <option value="Foxwood Apartments">
      <option value="Foxwood Condos">
      <option value="Manavu">
      <option value="Belmont">
      <option value="Bendick Arms">
      <option value="Brownstone">
      <option value="Chatham Towne">
      <option value="Chatsworth">
      <option value="Chelsea">
      <option value="Millrace">
      <option value="Mountainwood">
      <option value="Old Mill">
      <option value="Pines">
      <option value="Promenade">
      <option value="Reynolds">
      <option value="Riverside">
      <option value="Sherwood">
      <option value="Sierra">
      <option value="Stonebridge">
      <option value="Township">
      <option value="University Avenue Condos">
      <option value="Windsor Park">
      <option value="Winter Quarters">
      <option value="Aspen Ridge">
    </datalist><br>
    <div><input class="radio" type="radio" ng-model='singleRoom' name='marriedHousing' value=true>Married Housing <br>
    <input class="radio" type="radio" ng-model='singleRoom' name='marriedHousing' value=false>Single Housing</div>
    <input type="number" class='submitPerRoom' placeholder='How many in your room?' min='1' max='4' ng-model='perRoom' ><br>
    <div><input class="radio" type="radio" ng-model='gender' name='gender' value='Female'>Female <br>
    <input class="radio" type="radio" ng-model='gender' name='gender' value='Male'>Male</div>
    <input class="submitRent"type="number" ng-model='rent' step="10" placeholder="Rent Per Month">
    <input type='submit' ng-click="addApt(complexName,perRoom,singleRoom,gender,rent)" class='submitApt' value='add Apt'>
  </form>
</div>
