<div class="filters">
  <div class="leftBar">
    <p class="topTitle" ng-click='aptFilter = undefined; order = "-id"; rentFilter = undefined'>CROWD CONTROL</p>
    <div class="married">
      <input type="radio" ng-model='aptFilter.singleroom' name='marriedHousing' value='Married Housing' ng-click='aptFilter.gender = undefined'>Married Housing <br>
      <input type="radio" ng-model='aptFilter.singleroom' name='marriedHousing' value='Single Housing'>Single Housing
    </div>
    <div class="married">
      <input type="radio" ng-model='aptFilter.perroom' name='perRoom' value='1'>Solo Room<br>
      <input type="radio" ng-model='aptFilter.perroom' name='perRoom' value='!1'>Shared Room
    </div>
    <div class="gender">
      <input type="radio" ng-model='aptFilter.gender' name='gender' value='Male' >Male <br>
      <input type="radio" ng-model='aptFilter.gender' name='gender' value='Female'>Female
    </div>
    <input class="input" ng-model='aptFilter.complex' placeholder="Apartment"/>
    <input type="input" class="input" ng-model='rentFilter' placeholder="Highest Price"/>
    <select class="input" ng-model="rentOrder" ng-click="orderMe('rent'); order='rent'" placeholder="Rent">
      <option selected value=''>Rent Order</option>
      <option value="+">High</option>
      <option value=''>Low</option>
    </select>
  </div>
</div>
