<div class="specificApt"  ng-mouseover='hidden=true' ng-mouseleave='hidden=false'>
  <strong>{{specificApt.singleroom}}</strong> <br>
  <strong>Seller:</strong> {{specificApt.name}} <br>
  <div class="emailer" ng-click='emailShow(specificApt.email)'><strong>Sellers Email:</strong> {{specificApt.email}}</div>
  <strong>Apartment Complex:</strong> {{specificApt.complex}} <br>
  <div ng-show='specificApt.singleroom !== "Married Housing"'>
    <strong>Gender:</strong> {{specificApt.gender}} <br>
    <strong>Persons per Room:</strong> {{specificApt.perroom}} <br>
  </div>
  <strong>Monthly Rent:</strong> ${{specificApt.rent}}
  <div ng-click='deleteApt(specificApt.id)' class="deleter">Delete</div>
</div>
